<div class="home">
  <h1>Hello in scripts which are using AWS!</h1>
  <br />
  <h5>Scripts by Druciak:</h5>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Script with CRUD BD
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" (click)="deleteClientTable()">Delete client table</a>
      <a class="dropdown-item" href="#" (click)="createClientTable()">Create client table</a>
      <a class="dropdown-item" href="#" (click)="insertClientsList()">Insert clients list</a>
      <a class="dropdown-item" href="#" (click)="getAllClients()">Get all clients</a>
      <a class="dropdown-item" href="#" (click)="updateFirstClient()">Update first client</a>
      <a class="dropdown-item" href="#" (click)="addNewClient()">Add new client</a>
      <a class="dropdown-item" href="#" (click)="deleteLastClient()">Delete last client</a>
    </div>
  </div>
  <br />
  <br />
  <h5>Scripts by Gerasimuk:</h5>
  <br />
  <br />
  <h5>Scripts by Demczuk:</h5>
  <div>
    <input style="margin-left: 10px;"
           type="text"
           [(ngModel)]="bucketName"
           disabled={{created}}
           placeholder="Bucket name" />
    <input style="margin-left: 10px;"
           type="text"
           disabled={{uploaded}}
           [(ngModel)]="key1"
           placeholder="Key 1" />
    <input style="margin-left: 10px;"
           type="text"
           disabled={{uploaded}}
           [(ngModel)]="key2"
           placeholder="Key 2" />
  </div>
  <div style="margin-top: 10px;">
    <button type="button"
            class="btn btn-primary"
            style="margin-left: 10px;"
            (click)="CreateBucket()">
      Create bucket
    </button>
    <button type="button"
            class="btn btn-success"
            style="margin-left: 10px;"
            (click)="UploadToBucket()">
      Upload to bucket
    </button>
    <button type="button"
            class="btn btn-info"
            style="margin-left: 10px;"
            (click)="GetFromBucket()">
      Get from bucket
    </button>
    <button type="button"
            class="btn btn-danger"
            style="margin-left: 10px;"
            (click)="DeleteFromBucket()">
      Delete from bucket
    </button>
  </div>
  <h5>Logs info:</h5>
  <div *ngFor="let log of logs">
    <i>{{ log }}</i>
  </div>
</div>
